.main-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(229, 156, 53);
    color: white;
    min-height: 75vh;
    padding: 5rem 30rem;
}

.multi-sel {
    background-color: rgb(255, 115, 0);
    color: white;
    border: solid 0rem;
    width: 10rem;
    padding: 0.2rem;
    cursor: pointer;
}

.item {
    background-color: rgb(255, 115, 0);
    margin: 1rem 0.5rem;
    padding: 1rem;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.plussym {
    margin: 0 1rem;
    cursor: pointer;
}

.con-answer {
    max-width: 30rem;
}